*{
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    border: solid black;
    top:80%;
    left: 20%;
    padding: 30px;
    width: 50%;
    i{
        padding-left: 20px;
        }
}
.navigation a {
    text-decoration: none;
    margin-left: 60px;
    color:white;
    text-decoration: none;
    gap: 3%;
}

#pax{
    color:rgb(238, 153, 26);
    font-size: 20px;

}
#button{
    background-color: grey;
    border-radius: 50px ;
    padding:20px;
    border:none;
    color: white;
    margin-left: 10px;
  
}
.accra{
background: url('image/anokle\ accra.jpg');
background-repeat: no-repeat;
filter: brightness(0.9);
text-align: center;
height: 80vh;
width: 64vh;
color: white;
background-size: cover;
font-size: 20px;
padding-top: 200px;

} 

.nairobi{
background: url('image/nairobi1.jpg');
background-repeat: no-repeat;
filter: brightness(0.9);
text-align: center;
height: 80vh;
width: 64vh;
color: white;
background-size: cover;
font-size: 25px;
padding-top: 200px;
}

.zanzibar{

background: url('image/anokle\ zanzibar.jpg');
background-repeat: no-repeat;
filter: brightness(0.9);
text-align: center;
height: 80vh;
width: 64vh;
color: white;
background-size: cover;
font-size: 25px;
padding-top: 200px;
}

.logo{
    position: absolute;
    margin-top:-45%;
    left:40%;
    width:15;
    height:20%;
}
.events{
text-align: center;
position: relative;
display: inline-flex;
}
body{
    overflow: hidden;
}
.accra-text{
    margin-top: 30%;

}
.pavilion{
    color: grey;
    font-size: 20px;

}
.accra{
    font-size: 25px;

}
.nairobi{
    font-size: 25px;
}
.zanzibar{
    font-size: 25px;
}
