body{
    background-image: url(image/koseso.jpg);
    background-repeat: no-repeat;
    height: 190vh;
}
#koko{
    font-size: 50px;
    margin-top:25% ;
    margin-left: 40%;
    color: white;
}
.navigation {
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    border: solid black;
    top:80%;
    left: 1px;
    padding: 30px;
    width: 46.5%;
    i{
        padding-left: 20px;
        }

}

.navigation a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    text-decoration: none;
    gap: 3%;
}
#button{
    background-color: grey;
    border-radius: 50px ;
    padding:20px;
    border:none;
    color: white;
    margin-left: 10px;
}
